<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nearby Chat</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <section class="main-grid">
      <aside class="main-side">
        <header class="common-header">
          <div class="common-header-start">
            <button class="u-flex js-user-nav">
              <img
                class="profile-image"
                src="https://avatars.githubusercontent.com/u/42906079?s=400&u=e9ce48d5181e190990b9b8dcc4ed3b17203d43c6&v=4"
                alt="Elad Shechter"
              />
              <div class="common-header-content">
                <h1 class="common-header-title">{{request.user.username}}</h1>
              </div>
            </button>
          </div>
          <nav class="common-nav">
            <ul class="common-nav-list">
              <li class="common-nav-item">
                <button class="common-button">
                  <span class="icon">🕘</span>
                </button>
              </li>
              <li class="common-nav-item">
                <button class="common-button">
                  <span class="icon icon-status">💬</span>
                </button>
              </li>
              <li class="common-nav-item">
                <button class="common-button">
                  <span class="icon icon-menu" aria-label="menu"></span>
                </button>
              </li>
            </ul>
          </nav>
        </header>
        <section class="common-alerts"><!-- optional alert message --></section>
        <section class="common-search">
          <input
            type="search"
            class="text-input"
            placeholder="Search or start new chat"
          />
        </section>
        <section class="chats">
          <ul class="chats-list">
            <li class="chats-item">
              <div
                class="chats-item-button js-chat-button"
                role="button"
                tabindex="0"
              >
                <img
                  class="profile-image"
                  src="https://picsum.photos/200/300/?blur"
                  alt="Elad Shechter"
                />
                <header class="chats-item-header">
                  <h3 class="chats-item-title">CSS Masters</h3>
                  <time class="chats-item-time">12:30</time>
                </header>
                <div class="chats-item-content">
                  <p class="chats-item-last">
                    Beside it yo can follow my twitter account: @eladsc
                  </p>
                  <ul class="chats-item-info">
                    <li class="chats-item-info-item">
                      <span class="icon-silent">🔇</span>
                    </li>
                    <li class="chats-item-info-item">
                      <span class="unread-messsages"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="chats-item">
              <div
                class="chats-item-button js-chat-button"
                role="button"
                tabindex="0"
              >
                <img
                  class="profile-image"
                  src="https://picsum.photos/200/300/?blur"
                  alt="Rachel Bratt Tannenbaum"
                />
                <header class="chats-item-header">
                  <h3 class="chats-item-title">Rachel Bratt Tannenbaum</h3>
                  <time class="chats-item-time">12:05</time>
                </header>
                <div class="chats-item-content">
                  <p class="chats-item-last">When is our next meetup?</p>
                  <ul class="chats-item-info">
                    <li class="chats-item-info-item u-hide">
                      <span class="icon-silent">🔇</span>
                    </li>
                    <li class="chats-item-info-item">
                      <span class="unread-messsages">1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            {% for users in allu %}
            <li class="chats-item">
              <div
                class="chats-item-button js-chat-button"
                role="button"
                tabindex="0"
              >
                <img
                  class="profile-image"
                  src="https://picsum.photos/200/300/?blur"
                  alt="Alon Gruss"
                />
                <header class="chats-item-header">
                  <h3 class="chats-item-title">
                    <a
                      class="chats-item-button js-chat-button"
                      href="{% url 'chatPage' username=users.username %}"
                      >{{users.username}}</a
                    >
                  </h3>
                  <time class="chats-item-time">Yesterday</time>
                </header>
                <div class="chats-item-content">
                  <p class="chats-item-last">Great!</p>
                  <ul class="chats-item-info">
                    <li class="chats-item-info-item u-hide">
                      <span class="icon-silent">🔇</span>
                    </li>
                    <li class="chats-item-info-item">
                      <span class="unread-messsages"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </section>
      </aside>
      <main class="main-content">
        <header class="common-header">
          <div class="common-header-start">
            <button class="common-button is-only-mobile u-margin-end js-back">
              <span class="icon icon-back">⬅</span>
            </button>
            <button class="u-flex js-side-info-button">
              <img
                class="profile-image"
                src="https://picsum.photos/200/300/?blur"
                alt="CSS Masters Israel"
              />
              <div class="common-header-content">
                <h2 class="common-header-title">{{other_user.username}}</h2>
                <p class="common-header-status">Online</p>
              </div>
            </button>
          </div>
          <nav class="common-nav">
            <ul class="common-nav-list">
              <li class="common-nav-item">
                <button class="common-button">
                  <span class="icon">🔎</span>
                </button>
              </li>
              <li class="common-nav-item">
                <button class="common-button">
                  <span class="icon icon-attach">📎</span>
                </button>
              </li>
              <li class="common-nav-item">
                <button
                  class="common-button u-animation-click js-side-info-button"
                >
                  <span class="icon icon-menu" aria-label="menu"></span>
                </button>
              </li>
            </ul>
          </nav>
        </header>
        <div class="messanger">
          <ol class="messanger-list">
            <li class="common-message is-time">
              <p class="common-message-content">Today</p>
            </li>
          </ol>
        </div>
        <div class="message-box">
          <button type="button" class="common-button">
            <span class="icon">😃</span>
          </button>

          <!-- <input
            class="text-input"
            id="message-box"
            type="text"
            placeholder="Type a message"
          /><br /> -->

          <div class="text-input">
            <input
              class="text-input"
              id="message-box"
              type="text"
              placeholder="Type a message"
            />
          </div>

          <!-- <div
            class="text-input"
            id="message-box"
            type="text"
            placeholder="Type a message"
            contenteditable=""
          ></div> -->

          <button id="voice-button" class="common-button">
            <span class="icon">🎤</span>
          </button>
          <button type="button" id="submit-button" class="common-button">
            <span class="icon">➤</span>
          </button>
        </div>
      </main>
      <aside class="main-info u-hide">
        <header class="common-header">
          <button class="common-button js-close-main-info">
            <span class="icon">❌</span>
          </button>
          <div class="common-header-content">
            <h3 class="common-header-title">Info</h3>
          </div>
        </header>
        <div class="main-info-content">
          <section class="common-box">
            <img
              class="main-info-image"
              src="https://picsum.photos/200/300/?blur"
              alt="CSS Masters Israel"
            />
            <h4 class="big-title">CSS Masters Israel</h4>
            <p class="info-text">Created 6/11/2013 at 22:45</p>
          </section>
          <section class="common-box">
            <h5 class="section-title">Description</h5>
            <p>
              Out main channel of the comunity is on Fecbook:
              <a href=""></a>
            </p>
          </section>
          <section class="common-box">
            <h5 class="section-title">Other content</h5>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Architecto odit voluptatem magnam sequi dolorem soluta assumenda
              ipsum iusto culpa velit repudiandae vitae minus minima corporis
              labore sit, molestias, a ut!
            </p>
          </section>
        </div>
      </aside>
    </section>
    <!-- partial -->
    <!-- {{other_user.id|json_script:"json-username"}}
    {{request.user.username|json_script:"json-message-username"}}  
  
    here username is the other user name for now
  -->

    {{ username|json_script:"other_user_id" }}
    {{request.user.username|json_script:"user_id"}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
  </body>
</html>
