<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>{{username}}</h1>
    {% for user in closestUser %}
    <a class="chats-item-button js-chat-button" 
    href="{% url 'chatPage' username=user.user.username %}">{{user.user.username}}</a>
    {% endfor %}
{{ username|json_script:"other_user_name" }}
{{request.user.username|json_script:"user_id"}}
<script src="{% static 'js/chat.js' %}"></script>
</body>
</html>