<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>

              if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(showPosition);
            }

              const { state } = await navigator.permissions.query({
                  name: "geolocation"
            });
            switch (state) {
              case "granted":

                break;
              case "prompt":
                console.log('promt')
                break;
              case "denied":
                console.log('failed')
                break;
            }
            var lat, lon;

      function sendData(lat, lon) {
        $.ajax({
          url: "",
          data: {
            lat: lat,
            lon: lon,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          type: "POST",
          success: function (data) {
            console.log(lat);
            console.log(lon);
          },
        });
      }

      function showPosition(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;

        sendData(lat, lon);
      }
    </script>
  </body>
</html>
