<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center><h1>Hello {{request.user.username}}</h1></center>

    <li><a href="logout">Log Out</a></li>
    <li><a href="chat">more</a></li>
    <script>
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      }

      // Check for Geolocation API permissions
      navigator.permissions.query({ name: "geolocation" }).then(function (res) {
        console.log(res.state);
        res.onchange = function () {
          console.log(res.state);
        };
      });
      var lat, lon;

      function sendData(lat, lon) {
        $.ajax({
          url: "",
          data: {
            lat: lat,
            lon: lon,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          type: "POST",
          success: function (data) {
            console.log(lat);
            console.log(lon);
            return true;
          },
        });
      }

      function showPosition(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;

        sendData(lat, lon);
      }
    </script>
  </body>
</html>
