<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello {{request.user.username}}</h1>

    {% if m %}
    <div>{{m}}</div>
    {%else%}
    <h2>your location is</h2>
    <li>latitude is {{l.lat}}</li>
    <li>longitude is {{l.lon}}</li>
    <br />
    {% endif %} {% for users in allu %}
    <li>{{users.username}}</li>
    {% endfor %}

    <center>
      {% for i in ll %}
      <li>{{i}}</li>
      {% endfor %}
      <br />
      <h1>nearest {{test}}</h1>

      {% for i in un %}
      <li>{{i.user.username}}</li>
      {% endfor %}
    </center>
  </body>
</html>
